<head>
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "Organization",
          "name": "Open Door Education",
          "url": "https://www.opendooreducations.com",
          "logo": "https://www.opendooreducations.com/assets/open-door-logo.jpg"
        }
        </script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:image" content="https://www.opendooreducations.com/assets/open-door-logo.jpg">
        <meta property="og:type" content="website">
        <meta name="description" content="Open Door Education offers expert admission consulting for school, college, and professional courses across India and abroad.">
        <meta property="og:title" content="Open Door Education">
        <meta property="og:url" content="https://www.opendooreducations.com">
        <title><%= typeof title != 'undefined' ? title : 'Open Door Education' %></title>
        
        <!-- Bootstrap 5 CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        
        <!-- Custom Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        
        <link rel="icon" type="image/x-icon" href="/assets/OPEN DOOR LOGO 1.jpg" />
        
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        <link>
    </head>